.similarMovies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .similarMovie {
    text-align: center;
  }
  
  .similarMovie img {
    width: 100%;
    border-radius: 10px;
  }
  
  .similarMovie h4 {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .similarMovie button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .similarMovie button:hover {
    background-color: #0056b3;
  }
  